<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	    <div class="collapse navbar-collapse" id="navbarNav">
         <h2 class="navbar-brand">Kalpesh Kikani</h2>
       </div>
     </nav>
    <div class="container">
	<div class="row">
    <%= yield %>
	</div>
	</div>
  </body>
</html>
